<div id="header-model3">
    <div id="head-Logo">
        <h2 id="tesla">TESLA</h2>
    </div>
    <nav class="tds-header-nav">
        <ul>
            <li>MODEL S</li>
            <li>MODEL 3</li>
            <li>MODEL X</li>
            <li>MODEL Y</li>
            <li>ROADSTER</li>
            <li>ENERGY</li>
        </ul>
    </nav>
    <div id="headButtons">
    <button id="shop">SHOP</button>
   <button id="signIn">SIGN IN</button>
</div>
<div id="hideBar">
    <nav>
        <ul>
            <li>Home</li>
            <li>Home</li>
            <li>Home</li>
            <li>Home</li>
            <li>Home</li>
            <li>Home</li>
            <li>Home</li>
        </ul>
    </nav>
</div>
   <div id="imgModel3">
       <img src="assets/images/model3.jpg" alt="">
</div>
